## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
# vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
# vacation_df.head()

vacation_df = pd.read_csv(r"C:\Users\unoah\OneDrive\Desktop\Data Analytics Class\World_Weather_Analysis\Resources\WeatherPy_database.csv")
vacation_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,New Norfolk,42.3584,-71.0598,57.99,22,4,14.97,US,2021-04-04 22:42:50
1,1,Kazerun,42.3584,-71.0598,57.99,22,4,14.97,US,2021-04-04 22:42:50
2,2,Cidreira,42.3584,-71.0598,57.99,22,4,14.97,US,2021-04-04 22:42:50
3,3,Rikitea,42.3584,-71.0598,57.99,22,4,14.97,US,2021-04-04 22:42:50
4,4,Ushuaia,42.3584,-71.0598,57.99,22,4,14.97,US,2021-04-04 22:42:50
5,5,Peace River,42.3584,-71.0598,57.99,22,4,14.97,US,2021-04-04 22:42:50
6,6,Sentyabrskiy,42.3584,-71.0598,57.99,22,4,14.97,US,2021-04-04 22:42:50
7,7,Leningradskiy,42.3584,-71.0598,57.99,22,4,14.97,US,2021-04-04 22:42:50
8,8,Chuy,42.3584,-71.0598,57.99,22,4,14.97,US,2021-04-04 22:42:50
9,9,Nassau,42.3584,-71.0598,57.99,22,4,14.97,US,2021-04-04 22:42:50

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City"] == "Lima") & (vacation_df["Country"]== "RU")] 
vacation_end = vacation_df.loc[(vacation_df["City"] == "Lima") & (vacation_df["Country"] == "RU")]
vacation_stop1 = vacation_df.loc[(vacation_df["City"] == "Jutai") & (vacation_df["Country"]== "RO")]
vacation_stop2 = vacation_df.loc[(vacation_df["City"] == "Oranjemund") & (vacation_df["Country"]== "KZ")] 
vacation_stop3 = vacation_df.loc[(vacation_df["City"] == "Ahuimanu") & (vacation_df["Country"]== "KZ")] 


print("Your Starting Destination is " + vacation_start["City"] + ", " + vacation_start["Country"])
print("Your First Stop is " + vacation_stop1["City"] + ", " + vacation_stop1["Country"])
print("Your Second Stop is " + vacation_stop2["City"] + ", " + vacation_stop2["Country"])                                     
print("Your Third Stop is " + vacation_stop3["City"] + ", " + vacation_stop3["Country"])                                     
print("Your Last Stop on your vacation is " + vacation_end["City"] + ", " + vacation_end["Country"])

571    Your Starting Destination is Lima, RU
dtype: object
149    Your First Stop is Jutai, RO
dtype: object
99    Your Second Stop is Oranjemund, KZ
dtype: object
549    Your Third Stop is Ahuimanu, KZ
dtype: object
571    Your Last Stop on your vacation is Lima, RU
dtype: object

In [8]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = (vacation_start ["Lat"].to_numpy()[0], vacation_start ["Lng"].to_numpy()[0])
start

(60.1247, 64.7758)

In [9]:
# Stop 1
stop1 = (vacation_stop1 ["Lat"].to_numpy()[0], vacation_stop1 ["Lng"].to_numpy()[0])
stop1

(46.5167, 24.75)

In [10]:
# Stop 2
stop2 = (vacation_stop2 ["Lat"].to_numpy()[0], vacation_stop2 ["Lng"].to_numpy()[0])
stop2

(44.1667, 52.1167)

In [13]:
stop3 = (vacation_stop3 ["Lat"].to_numpy()[0], vacation_stop2 ["Lng"].to_numpy()[0])
stop3

(51.095, 52.1167)

In [12]:
end = (vacation_end ["Lat"].to_numpy()[0], vacation_end ["Lng"].to_numpy()[0])
end

(60.1247, 64.7758)

In [26]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

import gmaps
import gmaps.datasets
gmaps.configure(api_key=g_key)

start = (60.1247, -64.7758)
stop1 = (46.5167, -24.75)
stop2 = (44.1667, -52.1167)
stop3 = (51.095, -52.1167)
end = (60.1247, -64.7758)

fig = gmaps.figure()
start2end_via_stops = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')
symbols = gmaps.symbol_layer(
        locations, fill_color='green', stroke_color='green')
fig.add_layer(start2end_via_stops)
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3, vacation_end],ignore_index=True)
itinerary_df

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,571,Lima,60.1247,64.7758,33.57,99,100,4.68,RU,2021-04-04 22:45:38
1,149,Jutai,46.5167,24.7500,37.40,87,20,2.30,RO,2021-04-04 22:45:06
2,99,Oranjemund,44.1667,52.1167,46.49,70,8,7.58,KZ,2021-04-04 22:41:15
3,549,Ahuimanu,51.0950,54.0814,31.59,91,99,7.87,KZ,2021-04-04 22:45:35
4,571,Lima,60.1247,64.7758,33.57,99,100,4.68,RU,2021-04-04 22:45:38

In [17]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Max Temp}</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [18]:
# 11a. Add a marker layer for each city to the map.
locations = itinerary_df[["Lat", "Lng"]]
max_temp = itinerary_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))